<launch>
  <master auto="start"/>

  <arg name="map_file" default="$(find navigation)/maps/changeUp2.yaml"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--
  <node name="pointcloud_converter" pkg="navigation" type="pointcloud_converter">
      <remap from="points2_in" to="front_camera/front_camera/depth/points"/>
      <remap from="points_out" to="front_camera/front_camera/convert/points" />
  </node>
    <node name="pointcloud_converter2" pkg="navigation" type="pointcloud_converter">
        <remap from="points_in" to="front_camera/front_camera/depth/points"/>
        <remap from="points_out" to="front_camera/front_camera/convert/final_points" />
  </node>
  -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navigation)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find navigation)/config/global_planner_params.yaml" command="load" />
    <rosparam file="$(find navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find navigation)/config/move_base_params.yaml" command="load" />
    <!--    <rosparam file="$(find navigation)/config/navfn_global_planner_params.yaml" command="load" />-->
    <rosparam file="$(find navigation)/config/teb_local_planner_params.yaml" command="load" />
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <remap from="/cmd_vel" to="/robot_diff_drive_controller/cmd_vel"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="map_world_broadcaster" args="-0.0 -0.0 -0.0 0 -0.0 0 map world 10" />


</launch>
